<app-navbar></app-navbar>
<!--lista-->
<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let user of users" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <img src="" alt="">
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{user?.name}}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{user?.email}}</li>
        </ul>
      </div>
    </div>
  </div>
